body {
	margin: 0;
	font-family: 'Times New Roman';
	background-color: #E4E5E2;
}

#tree {
	z-index: -1;
	visibility: hidden;
	min-height: 100%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 100%;
	height: auto;
			
	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}

/*#christmas {
	z-index: -1;
	visibility: hidden;
	display: inline-block;
	font-family: 'Times New Roman';
	text-align: center;
	font-size: 8vw;
	padding-left: 10vw;
	height: 3vw;
}
*/
#top {
	display: block;
	z-index: 1;
}

#heading {
	text-align: center;
	font-size: 8vw;
}

.line {
	width: 100%;
	/*height: 1px;*/
	border-bottom: 5px solid black;
	position: absolute;
}

.line2 {
	width: 100%;
	top: 20%;
	border-bottom: 2px solid black;
	position: absolute;
}

.line3 {
	width: 100%;
	top: 21%;
	border-bottom: 2px solid black;
	position: absolute;
}

#heading1 {
	display: inline-block;
	font-family: 'Times New Roman';
	font-size: 2vw;
	padding-left: 10vw;
	height: 3vw;

}

#heading2 {
	text-align: center;
	display: inline-block;
	font-family: 'Times New Roman';
	font-size: 2vw;
	padding-left: 23vw;
	height: 3vw;
}	

#heading3{
	display: inline-block;
	font-family: 'Times New Roman';
	font-size: 2vw;
	padding-left: 20vw;
	height: 3vw;
}

#title {
	font-size: 4vw;
	text-align: center;
}

#author {
	text-align: center;
}

#instructions {
	text-align: center;
}

#image {
	position: absolute;
	display: block;
	z-index: 1;
	/*text-align: center;*/
	top: 21vw;
	left: 2vw;
}

#this1 {
	display: inline-block;

	color: black;
}

#hidethis1{
	display: inline-block;
	visibility: hidden;
}

#hidethis2{
	display: inline-block;
	visibility: hidden;
}

#hidethis3{
	display: inline-block;
	visibility: hidden;
}

#hidethis4{
	display: inline-block;
	visibility: hidden;
}


#hidethis6{
	display: inline-block;
	visibility: hidden;
}

#this2 {
	color: black;
}

#this3 {
	color: black;
	display: inline-block;
}

#this4 {
	color: black;
}

#this5 {
	display: inline-block;
	color: white;
	visibility: hidden;
}

#this6 {
	color: white;
}

#this7 {
	color: black;
}

#abstract{
	color: black;
}

#blur {
	z-index: -1;
	position: relative;
	display:block;
	top: 5vw;
}

.content {
	font-size: 15pt;
	display: block;
	z-index: 1;
	position: relative;
	/*background-color: blue;*/
	height: 24vw;
	width: 59vw;
	left: 39vw;
				
}

#before {
	font-size: 15pt;
	display: block;
	z-index: 1;
	position: relative;
	/*background-color: blue;*/
	height: 5vw;
	width: 95vw;
	left: 3vw;
}

.content2 {
	font-size: 15pt;
	display: block;
	z-index: 2;
	position: relative;
	/*background-color: blue;*/
	height: 50vw;
	width: 95vw;
	left: 2vw;
}